<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PoemCrunch - New Poems in the style of Old Classics</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">

    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header" style="float: right;">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color:#FFFF00;font-family:helvetica;font-size:28px"href="#"><b>PoemCrunch</b></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" style="float: left;">
          <ul class="nav navbar-nav">
            <li class="active" style="font-family:helvetica;font-size:26px"><a href="/"><b>Home</b></a></li>
            <li style="font-family:helvetica;font-size:26px"><a href="/about"><b>About</b></a></li>
          </ul>
        </div>
    </nav>

    <div class="container">

      <div class="starter-template">
	<br><br>
	<h2 style="color:#FFFFFF"><b><%= title %></b></h2>
        <p class="lead" style="font-size:18px">
          <%= poem %>
          <a href="<%= url %>" class="btn btn-lg btn-default"><b>Crunch!</b></a>
        </p>
      </div>

      <footer class="footer">
        <p style="text-align:center; color:#999999">Disclaimer: due to the way the poems are created, PoemCrunch cannot account for any unintended offence that may be caused.</a></p>
        <p style="text-align:center; color:#999999">Concept & Code: <a href="https://twitter.com/thundercomb">@thundercomb</a></p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
